In [126]:
import pandas as pd
import numpy as np

In [45]:
jul_2017_path = "Resources/JC-201707-citibike-tripdata.csv"
aug_2017_path = "Resources/JC-201708 citibike-tripdata.csv"
sep_2017_path = "Resources/JC-201709-citibike-tripdata.csv"
oct_2017_path = "Resources/JC-201710-citibike-tripdata.csv"
nov_2017_path = "Resources/JC-201711-citibike-tripdata.csv"
dec_2017_path = "Resources/JC-201712-citibike-tripdata.csv"
jan_2018_path = "Resources/201801_citibikejc_tripdata.csv"
feb_2018_path = "Resources/201802_citibikejc_tripdata.csv"
mar_2018_path = "Resources/201803_citibikejc_tripdata.csv"
apr_2018_path = "Resources/JC-201804-citibike-tripdata.csv"
may_2018_path = "Resources/JC-201805-citibike-tripdata.csv"
jun_2018_path = "Resources/JC-201806-citibike-tripdata.csv"
paths_list_2017 = [aug_2017_path, sep_2017_path, oct_2017_path, nov_2017_path, dec_2017_path]
paths_list_2018 = [jan_2018_path, feb_2018_path, mar_2018_path, apr_2018_path, may_2018_path, jun_2018_path]

In [49]:
combined_df = pd.read_csv(jul_2017_path)
for path in paths_list_2017:
    df = pd.read_csv(path)
    combined_df = combined_df.merge(df, how='outer')
print(len(combined_df.columns))
print(len(combined_df["tripduration"]))
for path in paths_list_2018:
    df = pd.read_csv(path)
    df = df.drop(['name_localizedValue0'], axis=1)
    combined_df = combined1_df.merge(df, how='outer')
print(len(combined_df.columns))
print(len(combined_df["tripduration"]))

15
176563
15
320479

In [129]:
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,340,2017-07-01 00:00:08,2017-07-01 00:05:48,3186,Grove St PATH,40.719586,-74.043117,3267,Morris Canal,40.712419,-74.038526,29643,Subscriber,1994,2
1,439,2017-07-01 00:02:35,2017-07-01 00:09:55,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29585,Subscriber,1980,1
2,186,2017-07-01 00:04:33,2017-07-01 00:07:40,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29219,Subscriber,1984,1
3,442,2017-07-01 00:05:53,2017-07-01 00:13:15,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29497,Subscriber,1969,1
4,170,2017-07-01 00:07:54,2017-07-01 00:10:45,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1986,1

In [130]:
combined_df.to_csv("Resources/cleaned_data.csv")